body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; // Prevent horizontal scrollbar
}

.topbar-main {
    width: 100%;
    height: 60px;
    background-color: rgba(247, 243, 243, 0.87);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LeetCademyLogo-topbar {
    width: 200px;
    position: absolute;
    margin-top: 0px;
    margin-left: 10px;
}

.react-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 0.7;
    gap: 60px;
    transition: gap 0.3s ease;
    //justify-content: space-between;
    //width: 35%;
    //margin-left: 700px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; // Gap between icon and label
}
.icon-label {
    font-size: 12px; // Adjust font size as needed
    color: #393939; // Adjust text color as needed
    text-align: center; // Ensure label is centered under the icon
}

.react-icon {
    color: #393939;
    cursor: pointer;
    font-size: 25px;
    font-size: bold;
}

.user {
    width: 25px;
    cursor: pointer;
}

.react-icon:hover {
    color: black;
}


// Media query for tablets
@media (max-width: 768px) {
    .LeetCademyLogo-topbar {
        width: 150px; // smaller logo on tablet
    }
    .topbar-main {
        width: 100%;
    }

    .react-icons {
        gap:20px; // smaller gap between icons on tablet
    }

    .react-icon {
        font-size: 20px;
    }

    .user {
        width: 20px;
    }
}

// Media query for mobile devices
@media (max-width: 480px) {
    .LeetCademyLogo-topbar {
        width: 100px; // even smaller logo on mobile
    }

    .react-icons {
        gap: 10px; // smaller gap between icons on mobile
        justify-content: center; // center icons if needed
        flex-grow: 1;
    }

    .topbar-main {
        padding: 0px; // reduce padding
    }

    .react-icon {
        font-size: 15px;
    }

    .user {
        width: 15px;
    }
}